







{% extends 'base.html' %}

{% block title %}<title>Delete Product</title>{% endblock title %}
{% block content %}

<nav class="navbar bg-light  fixed-top">
    <div class="container-fluid">
      <div class="d-flex">
        <a class="navbar-brand text-dark"  href="{% url 'shop:product_list' %}">Alpine</a>
      
        <form class="d-flex" action="{% url 'shop:menu_search' %}">
          <input class="form-control rounded-pill me-2" name="q"  type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-green rounded-circle"  value="{{request.GET.q}}" type="submit"><i class="bi bi-search"></i></button>
        </form>
  
        <button class="navbar-toggler-sm mx-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="d-flex">
        
          <a class="nav-link" onclick="clickSingleB(this)" href="{% url 'shop:product_list' %}" aria-current="page"><i class="bi bi-house-fill"></i></a>
        
        
          <a class="nav-link" onclick="clickSingleB(this)" href="{% url 'profiles:profile' user.profile.pk %}"><i class="bi bi-person-fill"></i></a>
        
        
          <a class="nav-link" onclick="clickSingleB(this)" href="#"><i class="bi bi-chat-dots-fill"></i></a>
        
        
          <a class="nav-link" href="#"><i class="bi bi-bell-fill"></i></a>
        
        
          <a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="bi bi-cart-fill"></i></a>
        
      </div>
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Category
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item" href="{% url 'shop:product_list' %}">All</a></li>
                {% for c in categories %}
                <li><a class="dropdown-item" href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
                {% endfor %}
                <li>
                  <hr class="dropdown-divider">
                </li>
                
              </ul>
            </li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
          </ul>
          
        </div>
      </div>
    </div>
  </nav>
  <div class="container p-3"style="background-color: white;" >
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete</p>
        <button class="btn btn-danger ml-􀇑" type="submit">Confirm</button>
    </form>
</div>


{% endblock content %}